*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(14, 216, 235);
}


#container{
    width: 80%;
    margin: auto;
    background-color: rgb(231, 238, 238);
    box-shadow: 0px 0px 10px rgb(24, 4, 37);

}

#header{
    height: 120px;
    background-color: rgb(161, 156, 187);
    padding: 20px;

}

#logo{
    padding: 10px;
    margin-left: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 100px;
}

#logo a{
    float:left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: rgb(255, 0, 157);
    text-decoration: aqua;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 30px;
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0px 2px 1px #222222, 0px 0px 4px #190cd1;
}

#menu{
    clear: both;
    background: #222222;
    color: rgb(151, 20, 20);
    height:0px auto;
    margin-left:25px;

}

#menu ul li{
    list-style: none;
    text-decoration: none;
    margin:0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid rgb(161, 156, 187)
}

#menu a{
    display: block;
    color: rgb(140, 34, 189);
    text-decoration: none;
    padding-right: 12px;
    transition: all 300ms;
}

#menu a:hover{
    background: #190cd1;
}